.containerLayout{
    display: flex;
    min-height: 100vh;
}

.main{
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
}

.content{
    flex: 1;
    min-width: 0;
    padding: 2rem;
    padding-top: 3rem;
    overflow-y: auto;
}